#firstline {
     font-weight: bold;
     font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

#Btn {
     height: 21px;
     font-weight: bold;
}

.hidden {
     display: none;
}

#winorlose {
     font-weight: bold;
}